h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span #[strong 290601234-4.] Validar en los productos el cumplimiento de la normatividad vigente y requerimientos técnicos.



