.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white        
        p
            strong.mr-2 Ancho costura:             
            | distancia que hay desde la base hasta la terminación de la costura.
        hr
        p
            strong.mr-2 Calibrador:             
            | instrumento de medición que se utiliza para medir la longitud de puntada, márgenes de costura y las puntadas por pulgada de una costura.
        hr
        p
            strong.mr-2 Doblar:             
            | juntar los extremos de dos piezas una sola vez y aplicar presión sobre la parte flexible.
        hr
        p
            strong.mr-2 Empacar:             
            | colocar materiales, accesorios o prendas en una envoltura que lo reviste y lo protege; bien sea en el proceso o en la presentación final.
        hr
        p
            strong.mr-2 Margen de costura:             
            | distancia que hay desde las puntadas hasta el borde del material.
        hr
        p
            strong.mr-2 Pulir:             
            | retirar todos los sobrantes de materiales e hilos en la prenda confeccionada, se realiza con un pulidor.
        hr
        p
            strong.mr-2 Revisar:             
            | someter materiales, prendas, accesorios y piezas a un chequeo con el fin de confrontarlas a un patrón de normas y parámetros de calidad establecidos.
        hr
        p
            strong.mr-2 Técnicas de las manecillas del reloj:             
            | técnica utilizada para realizar operaciones de costura que implica hacer el recorrido de la operación en el sentido de las manecillas, iniciando en un punto fijo base y terminando en un punto fijo en el extremo (lado) contrario.
