.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Jaramillo Zapata, John Jairo, 1990, Control de calidad en la confección
                    td Cartillas
                    td 
                        a(href="https://hdl.handle.net/11404/4253", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver            
                tr
                    td Duque de Serna, Fanny, 1990, Procedimientos para el control de la calidad
                    td Cartillas
                    td 
                        a(href="https://hdl.handle.net/11404/4260", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
	


	

