.container#page-introduccion

    .header-ecored
        h1 1. Inspección y validación de productos


    .jumbotron.bg-white    
      .row
        .col-12
          .header-ecored.mt-0    
            h2 1.1 Inspección y verificación de bata hospitalaria
      
      .row
        .col-12
          p Las empresas de confección textil industrial al finalizar la elaboración de batas para la dotación hospitalaria, implementan un proceso de inspección y control de calidad, estos permiten garantizar el cumplimento de las condiciones técnicas exigidas por los clientes.
              
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='hhttps://www.youtube.com/embed/OgEjlKVeT2o', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

      .row
        .col-12
          .header-ecored.mt-0    
            h2 1.2 Inspección y verificación de overol hospitalario   
      
      .row
        .col-12
          p Las empresas de confección textil industrial al finalizar la elaboración de overoles para la dotación hospitalaria, implementan un proceso de inspección y control de calidad, estos permiten garantizar el cumplimento de las condiciones técnicas exigidas por los clientes.
              
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/qaIfabuwm50', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

